<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<title>Eat-Da-Burger</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>